body {
	background-color: GhostWhite;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
        }


header, main, footer {
	padding: 20px;
        }

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #333;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 影を強く */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4); /* ホバー時の影も強調 */
}
